@font-face {
    font-family: "iconfont"; /* Project id 4310518 */
    src: url('iconfont.woff2?t=1698770509313') format('woff2'),
    url('iconfont.woff?t=1698770509313') format('woff'),
    url('iconfont.ttf?t=1698770509313') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github-fill:before {
    font-size: 40px;
    content: "\e885";
}

